* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
header ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li {
    display: inline;
    margin: 0 10px;
}
header ul li a {
    color: white;
    text-decoration: none;
}
.logo-img {
    display: block;
    margin: 0 auto;
}
.banner img {
    max-width: 100%;
}
.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.category {
    flex: 1;
    margin: 0 10px;
}
.category img {
    width: 100%;
    height: auto;
    
}
.products {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
}
.product {
    text-align: center;
    margin: auto;
}

}
.product img {
	width: 100%;
    height: auto;
}
.price {
    color: #ff0000;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}