* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
header ul {
    display: grid;
    grid-row: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li {
    display: inline;
    margin: 0 10px;
}
header ul li a {
    color: white;
    text-decoration: none;
}
.logo-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.banner img {
    max-width: 100%;
}
.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.category {
    text-align: center;
    width: 30%;
}
.category img {
    width: 100%;
    height: auto;
    
}
.products {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px; */
    padding: 20px;
}
.product {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}
.product img {
    height: auto;
    width: 50vh;
}
.price {
    color: #ff0000;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}